# Backend
backend/target/
backend/.mvn/wrapper/
*.class

# Web
web/node_modules/
web/dist/
web/.env

# Android
android/.gradle/
android/local.properties
android/app/build/
*.apk
*.aab

# IDE
.idea/
*.iml
